body {
  background-image: url("https://images7.alphacoders.com/133/1330312.png"); /* Replace 'path/to/your/image.jpg' with the path to your image */
  background-position: center; /* Positions the background image */
  background-size: cover; /* Adjusts the size of the background image */
}

.buttonSubmit {
  /* background: #5D17A4!important; */
  background: #2f528f !important;
}

/* Form.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  width: 70vh;
  border-radius: 10px;
  border: 2px solid white;
  background: transparent;
  backdrop-filter: blur(8px);
}
